.chrome-extension-mutihighlight { font-style: normal; border-radius: 3px; padding-left: 3px; padding-right: 3px; box-shadow: 1px 1px 3px rgba(0,0,0,0.3); text-decoration: none; }

.highlight { 
    color: black; 
    background: yellow;
    border: #b4ff00;
    visibility: visible;
}
.chrome-extension-mutihighlight-style-2 { color: #000; background: #ffc600; }
.chrome-extension-mutihighlight-style-3 { color: #fff; background: red; }
.chrome-extension-mutihighlight-style-4 { color: #fff; background: #3988ff; }
.chrome-extension-mutihighlight-style-5 { color: #000; background: #b4ff00; }
.chrome-extension-mutihighlight-style-6 { color: #fff; background: #fc11ff; }
